@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #171717;
    
}

.container{
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-template-rows: minmax(220px,auto);
    margin: 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}

.container .box{
    background: #333;
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    align-items: center;
    text-align: center;
    color: #fff;
    transition: 0.3s all ease-in;
   
}
.container .box1{
    background: #333;
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    align-items: center;
    text-align: center;
    color: #fff;
    transition: 0.3s all ease-in;
   
}

.container .box:hover{
    background: linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
    transform: translate(1%,-1%);
    animation: slidernbw 1.2s forwards ;
}
    @keyframes slidernbw {
        to {
         background-position: 200vw;
        }
}
.container .box1:hover{
    background: linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
    transform: translate(1%,-1%);
}

svg{
    padding-top: 15px;
}



button {
    background-color: #444141;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    padding: 1px 15px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    padding-bottom: 12px;
    padding-left: 5px ;
   }
   
   button:hover {
    background-image: linear-gradient(90deg,#DC143C,#DC143C);
    
   }
   
   @keyframes slidernbw {
    to {
     background-position: 20vw;
    }
   }

@media (max-width: 991px){

    .container{
        
        grid-template-columns: repeat(auto-fill,minmax(50%, 1fr));
        grid-template-rows: minmax(auto, auto);
        
       
    }

    
}
